.cards{
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #020A18;
    gap: 15px;
    padding-top: 15px;
}
.card {
    font-size: 10px;
    /* border: 2px solid blue; */
    text-align: center;
    border-radius: 15px;
    background-color: #0E1623;
    padding: 0 15px;
}
.card span{
    color: white;
}
.card p{
    margin: 10px 0;
    color: gray;
}
.card img{
    width: 50px;
}